{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <h3>Sistem Rekomendasi Jurnal</h3>
        <hr>
        <form action="{{ url_for('home') }}" method="POST" class="form" role="form">
            {{ form.csrf_token() }}
            <div class="row">
                <div class="form-group col-md-6">
                    {{ wtf.form_field(form.abstract, cols="20", rows="20", 
                        class='form-control', placeholder='Penelitian tentang pengaruh ...') }}
                </div>
                {% if prediction is defined %}
                    <div class="col-md-6">
                        <div class="row">
                            <center>
                                <h4>Jurnal yang direkomendasikan adalah ...</h4> 
                            </center>
                        </div>
                        <div class="row">
                            <center>
                                <h5><u>{{ prediction['JOURNAL_NAME'] }}</u></h5>
                            </center>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <span style="white-space: pre-line">{{ prediction['JOURNAL_DESC'] }}</span>
                            </div>
                            <div class="col-md-4">
                                <img class="img-responsive" src="{{ prediction['JOURNAL_COVER'] }}">
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Cari Jurnal</button>
        </form>
    </div>
{% endblock %}