{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container">
        <h3>Sistem Rekomendasi Jurnal</h3>
        <hr>
        <form action="{{ url_for('home') }}" method="POST" class="form" role="form">
            {{ form.csrf_token() }}
            <div class="row">
                <div class="form-group col-md-6">
                    {{ wtf.form_field(form.abstract, cols="20", rows="20", 
                        class='form-control', placeholder='Penelitian tentang pengaruh ...') }}
                    <button type="submit" class="btn btn-primary">Cari Jurnal</button>
                </div>
                {% if prediction is defined %}
                    <div class="col-md-6">
                        <div class="row">
                            <center>
                                <h4>Jurnal yang direkomendasikan adalah ...</h4> 
                            </center>
                        </div>
                        <div class="row">
                            <center>
                                <h5>
                                    <u>{{ prediction['JOURNAL_NAME'] }}</u> 
                                    <a href="{{ prediction['JOURNAL_URL'] }}"><i class="glyphicon glyphicon-link"></i></a>
                                </h5>
                            </center>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <span style="white-space: pre-line">{{ prediction['JOURNAL_DESC'] }}</span>
                            </div>
                            <div class="col-md-4">
                                <img class="img-responsive" src="{{ prediction['JOURNAL_COVER'] }}">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Nama Jurnal</th>
                                        <th scope="col">Probabilitas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for data in probabilities %}
                                            <tr>
                                                <td>{{ data['JOURNAL_ID'] }}</td>
                                                <td>{{ data['JOURNAL_NAME'] }}</td>
                                                <td>{{ data['JOURNAL_PROBABILITY'] }}%</td>
                                            </tr>
                                        {% endfor %}
                                </tbody>
                            </table> 
                        </div>
                    </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}